semi: false
singleQuote: true
trailingComma: 'es5'
bracketSpacing: false
indentChain: false
# comma: 'all'
# respectBreak: ['object']
# noImplicit: ['objectBraces', 'callParens']
# respectExplicit: ['objectBraces', 'callParens']
# emptyParamListParens: true
